<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="standard gripper finger assmebly  v03">
  <link
    name="gripper_finger_link">
    <inertial>
      <origin
        xyz="-2.348E-17 0.0062414 0.011011"
        rpy="0 0 0" />
      <mass
        value="0.01097" />
      <inertia
        ixx="1.4481E-06"
        ixy="1.5366E-22"
        ixz="7.6421E-22"
        iyy="1.6085E-06"
        iyz="-3.5645E-07"
        izz="1.3235E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://standard gripper finger assmebly  v03/meshes/gripper_finger_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://standard gripper finger assmebly  v03/meshes/gripper_finger_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>